body{
	background: url("map.png") no-repeat;
	background-color:#92d050;
	background-size:700px 650px;
	background-position:50% 80%;
	font-family:Arial;
	color:white;
}
.login{
	background-color: #f5f5f5;
    box-shadow: none;
	margin-right:0.1%;
    min-width: 160px;
    height: 30px;
    border-radius: 13px;
    font-size: 12px;
    padding: 3px 12px;
    border: solid 2px;
    width: 20%;
}

input::-webkit-input-placeholder {
    font-size: 15px;
font-family: 'myFont', arial, Helvetica, sans-serif;
    line-height: 3;
}
.reg{
padding: 15% 12px;
}
.registration{
	background-color: #f5f5f5;
    box-shadow: none;
	margin:0.5%;
    min-width: 160px;
	text-align:center;
	font-size:15px;
    height: 50px;
    border-radius: 13px;
    padding: 3px 12px;
    border: solid 2px;
    width: 20%;
}
.btnlogin {
    background-color: white;
    width: 120px;
    height: 30px;
    padding: 3px 12px;
    border-radius: 5px;
}
div.loginform{
float: right!important;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
ul li{
	float:left;
	width: 200px;
	height: 40px;
	background-color:black;
	opacity:.8;
	line-height:40px;
	text-align:center;
	font-size:20px;
}
ul li a{
	text-decoration:none;
	color:white;
	display:block;
}
ul li a:hover{
	background-color:green;
}

ul li ul li{
	align:left;
	display:none;
}
ul li:hover ul li{
	display:block;
}